body  {
  width: 100%;
  height: auto;
}

h1 {
font-family: fantasy;
font-size: 36px;
font-weight: bold;
font-color: black;
position: relative;
}

#setupTag  {
  margin-left: 50px;
  margin-top: 50px;
}

#gameTag {
  top: -100px;
  margin-left: 50px;
}

.startGame  {
padding-right: 200px;
  position: relative;
}

button  {
  width: 215px;
  height: auto;
  padding: 10px 15px;
  font-family: fantasy;
  font-size: 18px;
  font-weight: bold;
  background-color: #3385ff;
  border: none;
  border-radius: 4px;
}

.overlay {
  margin-left: 50px;
  margin-top: 50px;
  postion: absolute;
  display: none;
}

.containerHead {
  display: inline-block;
  margin-left: 50px;
  margin-top: 0px;
  position: relative;
}

.container1 {
  display: inline-block;
  margin-left: 50px;
  margin-top: 70px;
  position- relative;
}

.container2 {
  display: inline-block;
  margin-left: 50px;
  margin-top: 70px;
  position- relative;
}

.container3 {
  display: inline-block;
  margin-left: 50px;
  margin-top: 70px;
  position- relative;
}

input  {
  background-color: #ffffff;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
  border-color: #3385ff;
  text-align: center;
  border-radius: 4px;
}

.board {
  margin-left: 250px;
  margin-top: 150px;
  width: 600px;
  height: 600px;
  background-color: #3385ff;
  position: absolute;
}
